@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #232333;
    color: #fff;
}

.movie-container #movie {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 5px 15px;
    font-family: inherit;
    background-color: 0;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px;
}

.movie-container #movie:hover{
    background-color: #e2e2e2;
}

.movie-container #movie:focus{
    outline: none;
}

.container {
    perspective: 1000px;
}
.seat {
    width: 15px;
    height: 12px;
    background-color: #444451;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: transform 100ms, background-color 100ms;
}

.seat.selected {
    background-color: #6feaf6;
  }
  
.seat.occupied {
    background-color: #fff;
}

.seat:nth-of-type(2) {
    margin-right: 18px;
}

.seat:nth-last-of-type(2) {
    margin-left: 18px;
}

.row .seat:not(.occupied):hover {
    transform: scale(1.2);
    background-color: #9b9b9b;
    cursor: pointer;
}

.row .seat.selected:not(.occupied):hover {
    transform: scale(1.2);
    background-color: #6feaf6;
    cursor: pointer;
}

.row {
    display: flex;
}

.showcase {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 5x;
    color: #777;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.showcase li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.screen {
    display: flex;
    width: 100%;
    height: 70px;
    background-color: #fff;
    margin: 15px 0;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
    transition: background-color 300ms, color 300ms;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.screen:hover {
    background-color: #feffb8;
    box-shadow: 0 3px 10px #feffb8b3;
    color:black;
}

p.text {
    margin: 5px 0;
  }
  
  p.text span {
    color: #6feaf6;
  }